<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шчучыншчынскi назіральнік</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .foto {
            display: block;
            margin: auto;
            width: 75%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div align="right">
        <a href="/weather/login">
            <button class="btn-primary">Войти</button>
        </a>
        <a href="/weather/register">
            <button class="btn-secondary">Регистрация</button>
        </a>
    </div>
    <h2>Вас вітае Шчучыншчынскi дожджыкавы назіральнік</h2>
    <img class="foto" src="
https://kaifolog.ru/uploads/posts/2019-05/thumbs/1557137791_012.jpg
 "/>
</div>


</body>
</html>