<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/weather/show">Смотреть добавленные локации</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div align="right">
        <h5>Привет, <span th:text="${name}"></span>!<a href="/weather/logout"><button class="btn-primary">Выйти из аккаунта</button></a></h5>
    </div>
    <div align="center">
       </div>
</div>

<form action="/weather/findLocation" method="post">
    <label for="location">Локация:</label>
    <input type="text" id="location" name="location">
    <input type="submit" value="Найти">

</form>


<div th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></div>

<div th:if="${location}">
    <p>Найденная локация: <span th:text="${location}"></span></p>
    <form action="/weather/addLocation" method="post">
        <input type="hidden" name="location" th:value="${location}" />
        <button type="submit">Добавить</button>
    </form>
</div>

<div th:if="${errorTryRepeatAddLocation}" th:text="${errorTryRepeatAddLocation}" style="color: red;"></div>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>

<div class="container">
    <div class="row">
        <div th:each="location : ${list}">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <h4 class="text">Локация: <a th:text="${location.getName}"/></h4>
                        <p class="card-text">
                            <h4 class="text">Температура: <a th:text="${location.getTemp}"/></h4>
                            </h5>
                            <h4 class="text">Широта: <a th:text="${location.getLat}"/></h4>
                            </br>
                            <h4 class="text">Долгота: <a th:text="${location.getLon}"/></h4>
                        <a th:href="@{/weather/delete/{name}(name=${location.getName})}">
                            <button class="btn-danger">Удалить</button>
                        </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${errorInternet}" th:text="${errorInternet}" style="color: red;"></div>


</body>
</html>