<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test bot</title>
</head>
<body>
<H2>Хозяин, вас определённо взломали.
    <br>

    Пройдите тест, чтобы удостовериться что вы не бот.
    <br>

    Вот задачка уровень изи с литкода:
    Дан массив целых чисел, вернуть индексы двух чисел, сумма которых равна определенной цели.

    Вы можете предположить, что каждый ввод будет иметь ровно одно решение, и вы не можете использовать один и тот же
    элемент дважды.

    Пример:
    Дано nums = [2, 7, 11, 15], target = 9,
    Поскольку nums[0] + nums[1] = 2 + 7 = 9,
    вернуть [0, 1].

    Для решения этой задачи вы можете использовать HashMap для хранения индексов элементов при проходе по массиву. Для
    каждого элемента проверьте, есть ли его дополнение (цель - текущий элемент) уже в HashMap. Если да, верните индексы
    текущего элемента и его дополнения.
    Если нет, добавьте текущий элемент и его индекс в HashMap и продолжайте проходить по массиву.
    <br>
    <br>
    <br>
    </H2>
    <H5>(Чтобы выйти - нажмите "отправить"!!!)</H5>

        <form>
            <label for="target">Ввести код:</label><br>
            <input type="text" id="target" name="target"><br>
        </form>
        <a href="/weather">
            <button class="btn-primary">Отправить</button>
        </a>

</body>
</html>